{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main role="main">
        <div class="row text-center">
            <table class="table">
                {% for day in Date.getJours %}
                    {% if (loop.index0 % 7) == 0 %}
                        <tr>
                        {% endif %}
                        <td>
                            {% if loop.index0 < 7 %}
                                <div class="entete">
                                    {{ Date.days[day|date('l')] }}<br>
                                </div>
                            {% endif %}
                            {{ day|date('d') }}<br>
{#                            {% dump(day) %}#}
                            {% for agenda in AllAgenda %}                                    
                                {% for evenement in agenda.getEvenement %}
                                    {% if day|date('Y-m-d') >= evenement.dateDeb|date('Y-m-d') and day|date('Y-m-d') <= evenement.dateFin|date('Y-m-d') %}
                                        <div style="background: {{evenement.couleur}}">
                                            {{ evenement.libelle }}<br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                    {% endfor %}
            </table>
        </div>
    </main>
{% endblock %}
